# Python jobs can specify extra library dependencies in requirements.txt file.
# See https://pip.readthedocs.io/en/stable/user_guide/#requirements-files
# The file is optional and can be deleted if no extra library dependencies are necessary.
#streamlit==1.5.0

# For the MyBinder environment, these may be necessary:
pyarrow==7.0.0
seaborn #seaborn==0.10.1
matplotlib
sklearn
xlsxwriter